<header>
    <nav class="navbar bg-primary d-flex justify-content-around" data-bs-theme="dark">
        <div>
          <a class="navbar-brand" href="#">Tienda</a>
        </div>
        <div class="d-flex align-items-center gap-2">
            <div class="text-white fs-5">{{userLoged.user}}</div>
            {{#if userLoged.user}}
                <div>
                    <a class="btn btn-light" href="/products">Volver a productos</a>
                </div>
                <div>
                    <a class="btn btn-danger" href="/api/sessions/logout">salir</a> 
                </div>
            {{/if}}
            {{#unless userLoged.user}}
                <div>
                    <a class="btn btn-light" href="/api/sessions/login">Login</a>
                </div>
            {{/unless}}
            <div>
                <a class="btn" href="/"><img style="width: 30px; filter: invert(100%)" src="../../img/home.png" alt="home"></a>
            </div>
        </div>
    </nav>
</header>
<div class="mx-5 mt-5">
    <h1>Datos del Perfil:</h1>
    <div class="mx-auto w-50">
        <h4>Nombre: {{userLoged.user}}</h4>
        <h4>Apellido: {{userLoged.lastName}}</h4>
        <h4>Edad: {{userLoged.age}}</h4>
        <h4>Email: {{userLoged.email}}</h4>
        <h4>Permisos a nivel de: {{userLoged.rol}}</h4>
    </div>
</div>