<header>
    <nav class="navbar bg-primary d-flex justify-content-around" data-bs-theme="dark" style="height: 60px;">
        <div>
          <a class="navbar-brand" href="http://localhost:8080/products">Tienda</a>
        </div>
        <div class="d-flex align-items-center gap-2">
            <div class="text-white fs-5">{{userLoged.user}}</div>
            {{#if userLoged.user}}
                <div>
                    <a class="btn btn-light" href="/products">Volver a productos</a>
                </div>
                <div>
                    <a class="btn btn-danger" href="/api/sessions/logout">salir</a> 
                </div>
            {{/if}}
            {{#unless userLoged.user}}
                <div>
                    <a class="btn btn-light" href="/api/sessions/login">Login</a>
                </div>
            {{/unless}}
            {{#ifCond userLoged.rol "Admin"}}
                <div>
                    <a class="btn" href="/"><img style="width: 30px; filter: invert(100%)" src="../../img/configurar.png" alt="home"></a>
                </div>
            {{else}}
                <div>
                    <a class="btn" href="chat"><img style="width: 30px; filter: invert(100%)" src="../../img/chat.png" alt="home"></a>
                </div>
            {{/ifCond}}
            {{#ifCond userLoged.rol "Premium"}}
                <div>
                    <a class="btn" href="/realtimeproducts"><img style="width: 30px; filter: invert(100%)" src="../../img/upload.png" alt="home"></a>
                </div>
            {{/ifCond}}
        </div>
    </nav>
</header>
<div class="mx-5 mt-5">
    <h1>Datos del Perfil:</h1>
    <div class="mx-auto w-50">
        <h4>Nombre: {{userLoged.user}}</h4>
        <h4>Apellido: {{userLoged.lastName}}</h4>
        <h4>Edad: {{userLoged.age}}</h4>
        <h4>Email: {{userLoged.email}}</h4>
        <h4>Permisos a nivel de: {{userLoged.rol}}</h4>
    </div>
    <div>
        <h3>Historial de compras:</h3>
        <div id="compras">
            {{#each userLoged.purchases }}
                <div class="p-2 d-flex justify-content-around align-items-center bg-secondary bg-gradient bg-opacity-10 rounded">
                    <div>{{this.dateCart}}</div>
                    <div class="d-flex w-75 gap-1 overflow-x-auto" style="height: 250px;">
                        {{#each this.cart}}
                            <div class="col-2 col-6 col-sm-4 card  mb-3 flex-grow-1" style="max-width: 200px;">
                                <div class="card-header bg-transparent ">
                                    <p class="card-text"><small class="text-body-secondary">{{this.product.category}}</small>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title fs-4 text fw-bold">{{this.product.title}} x {{this.quantity}}</h5>
                                </div>
                                <div class="card-footer bg-transparent fs-4 text ">${{this.product.price}}</div>
                            </div>
                        {{/each}}
                    </div>

                </div>
            {{/each}}
        </div>
    </div>
</div>